# This file contains common pin mappings for the BigTreeTech EBB36 V1.2
# when setup for T0 on Tridex
#####################################################################
#   Extruder
#####################################################################

[extruder]
step_pin: toolboard_0:gpio23
dir_pin: toolboard_0:gpio24
enable_pin: !toolboard_0:gpio25
rotation_distance: 22.28207
##--------------------------------------------------------------------
#gear_ratio: 50:10 # CW2 gear ratio
gear_ratio: 50:10
microsteps: 16
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.750
max_extrude_cross_section: 50
max_extrude_only_distance: 400

#####################################################################
#   Heater
#####################################################################

heater_pin: toolboard_0:gpio9
sensor_type: PT1000
sensor_pin: toolboard_0:gpio29
pullup_resistor: 2200
min_temp: 0
max_temp: 370
max_power: 1.0
min_extrude_temp: 170

#control = pid
#pid_kp = 27.014
#pid_ki = 1.622
#pid_kd = 112.447
##--------------------------------------------------------------------
## Pressure Advance
pressure_advance: 0.025             # Try to keep pressure_advance below 1.0
pressure_advance_smooth_time: 0.030 # Default is 0.040, leave stock
##--------------------------------------------------------------------

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 extruder]
sense_resistor: 0.100
uart_pin: toolboard_0:gpio0
tx_pin: toolboard_0:gpio1
interpolate: true
run_current: 0.65
hold_current: 0.35

#####################################################################
#   Fan Control
#####################################################################

[fan_generic part_fan_t0]
##  Print Cooling Fan
pin: toolboard_0:gpio6
kick_start_time: 0.3
off_below: 0.05


## Hotend fan
[heater_fan hotend_fan]
pin: toolboard_0:gpio5
hardware_pwm: False
shutdown_speed: 0.0
tachometer_pin: ^toolboard_0:gpio16
tachometer_ppr: 2
max_power: .85
kick_start_time: 0.5
heater: extruder
heater_temp: 78.0
##  If you are experiencing back flow, you can reduce fan_speed
#fan_speed: 1.0
cycle_time: 0.0001
tachometer_poll_interval: 0.00015


#####################################################################
#   Toolhead 0 LEDs
#####################################################################

# [neopixel th_leds_t0]
# pin: toolboard_0:gpio7
# chain_count: 3
# color_order: GRB
# initial_RED: 1.0
# initial_GREEN: 1.0
# initial_BLUE: 1.0

#####################################################################
#   Toolhead 0 Filament runout switch
#####################################################################



#####################################################################
#   Accelerometer
#####################################################################

# [adxl345 toolboard_0]
# cs_pin: toolboard_0:gpio21
# spi_software_sclk_pin: toolboard_0:gpio18
# spi_software_mosi_pin: toolboard_0:gpio20
# spi_software_miso_pin: toolboard_0:gpio19
# axes_map: z,y,x

# [resonance_tester]
# accel_chip: adxl345 toolboard_0
# probe_points: 150, 150, 20

#####################################################################
#   Temperature Sensor
#####################################################################

[temperature_sensor toolboard_0]
sensor_type: temperature_mcu
sensor_mcu: toolboard_0
min_temp: 0
max_temp: 115

#####################################################################
#   gcode_macro T0
#####################################################################
#[gcode_macro T0]
#variable_color: ""
#variable_tool_number: 0
#gcode:
#  _CHANGE_TOOL T={tool_number}
  
[gcode_macro T0]
variable_color: ""
variable_tool_number: 0
variable_spool_id: None
gcode:
  _CHANGE_TOOL T={tool_number}
  {% if spool_id != None %}
    SET_ACTIVE_SPOOL ID={spool_id}
  {% endif %}
  
[tool T0]
tool_number: 0
extruder: extruder
fan: part_fan_t0
gcode_x_offset: 0
gcode_y_offset: 0
gcode_z_offset: 0
# Position with the toolhead aligned with the dock
params_park_x: 20
params_detach_x: 30
params_input_shaper_type_x: 'mzv'
params_input_shaper_freq_x: 60.4
params_input_shaper_type_y: 'mzv'
params_input_shaper_freq_y: 45.6

#[gcode_button tool0_detect]
#pin: ^toolboard_0:gpio3
#press_gcode:
#release_gcode:
#debounce_delay: 1.0

#[tool_probe T0]
#pin: ^toolboard_0:PB9
#tool: 0
#z_offset: 0
#speed: 2.5
#lift_speed: 5.0
#samples: 3
#samples_result: median
#sample_retract_dist: 1.0
#samples_tolerance: 0.04
#samples_tolerance_retries: 3
#activate_gcode:
#    _TAP_PROBE_ACTIVATE HEATER=extruder