#####################################################################
#   Extruder
#####################################################################
[extruder]
step_pin: nhk:gpio23
dir_pin: nhk:gpio24
enable_pin: !nhk:gpio25
microsteps: 16
full_steps_per_rotation: 200
#rotation_distance: 34.848												#Be sure to calibrate. Was 35.8
#rotation_distance: 47.147232 #was 47.088
#rotation_distance: 22.67895
rotation_distance: 22.28207
#gear_ratio: 9:1 
gear_ratio: 50:10
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: nhk:gpio9
#sensor_type: Generic 3950
sensor_type: PT1000
sensor_pin: nhk:gpio29
pullup_resistor: 2200
#control: pid                                                        # Do PID calibration after initial checks
#pid_Kp: 28.182
#pid_Ki: 1.978
#pid_Kd: 100.397
min_temp: 0
max_temp: 370
min_extrude_temp: 170
max_extrude_only_distance: 400                                     
max_extrude_cross_section: 50                                       
pressure_advance: 0.025                                        #Be sure to calibrate
pressure_advance_smooth_time: 0.030

[tmc2209 extruder]
sense_resistor: 0.100
uart_pin: nhk:gpio0
tx_pin: nhk:gpio1
interpolate: true
run_current: 0.65                       #.45 minimum offers 12N of force. DO NOT EXCEED .55A as it will cause excess heat.
hold_current: 0.35
#####################################################################
#   Fans
#####################################################################
## PCF
#[adxl345]
# Chip-select pin on the NH36
#cs_pin: nhk:gpio27

# Use software SPI (matches NH36 wiring)
#spi_software_sclk_pin: nhk:gpio18
#spi_software_mosi_pin: nhk:gpio20
#spi_software_miso_pin: nhk:gpio19

[fan]
pin: nhk:gpio6
kick_start_time: .3
off_below: 0.05

[heater_fan hotend_fan]
pin: nhk:gpio5
#tachometer_pullup: True
hardware_pwm: False
shutdown_speed: 0.0
tachometer_pin: ^nhk:gpio16
tachometer_ppr: 2
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
#fan_speed: 1.0
cycle_time: 0.0001
tachometer_poll_interval: 0.00015

#[heater_fan hotend_fan]
#pin: nhk:gpio5 
#hardware_pwm: True
#shutdown_speed: 0.0
#tachometer_pin: nhk:gpio16 
#tachometer_ppr: 2 
#max_power: .95
#max_power: 1
#kick_start_time: .1
#heater: extruder 
#heater_temp: 55.0 
#fan_speed: .8
#fan_speed: 1
#tachometer_poll_interval: 0.0005
