[mcu cartographer]
serial: /dev/serial/by-id/usb-Cartographer_stm32g431xx_660056000650303448383620-if00
restart_method: command # Not needed for probes using CAN. 

[cartographer]
mcu: cartographer
#   Offsets are measured from the centre of your coil, to the tip of your nozzle 
#   on a level axis. It is vital that this is accurate. 
x_offset: 0                          #    adjust for your cartographers offset from nozzle to middle of coil
y_offset: 25                         #    adjust for your cartographers offset from nozzle to middle of coil
verbose: yes

[cartographer scan]
mesh_runs: 1

[adxl345]
cs_pin: cartographer:PA0
spi_bus: spi1

[resonance_tester]
accel_chip: adxl345
probe_points: 150, 150, 20
accel_per_hz: 100
sweeping_accel: 400
sweeping_period: 0