[gcode_macro PRINT_START]
gcode:
  #print_start tool_0_start={first_layer_temperature[0]} tool_1_start={first_layer_temperature[1]} BED={first_layer_bed_temperature[0]} initial_tool={initial_tool} isT0={is_extruder_used[0]} isT1{is_extruder_used[1]}
  # This part fetches data from your slicer. Such as bed, extruder, and chamber temps and size of your printer.
  {% set t0_start = params.TOOL_0_START %}
  {% set t1_start = params.TOOL_1_START %}
  {% set bed_temp = params.BED %}
  {% set target_bed = params.BED %}
  {% set t0_used = params.IST0|upper %}
  {% set t1_used = params.IST1|upper %}
  {% set target_chamber = params.CHAMBER|default("45")|int %}
  {% set x_wait = printer.toolhead.axis_maximum.x|float / 2 %}
  {% set y_wait = printer.toolhead.axis_maximum.y|float / 2 %}

  M104 S150 T0 #Start with T0 at 150c for probing and keeping any excess filament soft
  
  # Home the printer, set absolute positioning and update the Stealthburner LEDs.
  STATUS_HOMING                                         # Set LEDs to homing-mode
  G28                                                   # Full home (XYZ)
  G90                                                   # Absolute position

  ##  Uncomment for bed mesh (1 of 2 for bed mesh)
  BED_MESH_CLEAR                                        # Clear old saved bed mesh (if any)

  # Check if the bed temp is higher than 90c - if so then trigger a heatsoak.
  {% if params.BED|int > 90 %}
    SET_DISPLAY_TEXT MSG="Bed: {target_bed}c"           # Display info on display
    STATUS_HEATING                                      # Set LEDs to heating-mode
    M106 S255                                           # Turn on the PT-fan

    ##  Uncomment if you have a Nevermore.
    #SET_PIN PIN=nevermore VALUE=1                      # Turn on the nevermore

    G1 X{x_wait} Y{y_wait} Z15 F9000                    # Go to center of the bed
    M190 S{target_bed}                                  # Set the target temp for the bed
    SET_DISPLAY_TEXT MSG="Heatsoak: {target_chamber}c"  # Display info on display
    TEMPERATURE_WAIT SENSOR="temperature_sensor Chamber" MINIMUM={target_chamber}   # Waits for chamber temp

  # If the bed temp is not over 90c, then skip the heatsoak and just heat up to set temp with a 5 min soak
  {% else %}
    SET_DISPLAY_TEXT MSG="Bed: {target_bed}c"           # Display info on display
    STATUS_HEATING                                      # Set LEDs to heating-mode
    G1 X{x_wait} Y{y_wait} Z15 F9000                    # Go to center of the bed
    M190 S{target_bed}                                  # Set the target temp for the bed
    SET_DISPLAY_TEXT MSG="Soak for 5 min"               # Display info on display
    G4 P300000                                          # Wait 5 min for the bedtemp to stabilize
  {% endif %}

  # Heat hotend to 150c. This helps with getting a correct Z-home.
  SET_DISPLAY_TEXT MSG="Hotend: 150c"                   # Display info on display
  {% if t1_used == "TRUE" %}
    M104 S150 T1
  {% endif %}
  M104 S150 T0                                          # Heat hotend to 150c

  ##  Uncomment for Trident (Z_TILT_ADJUST)
  SET_DISPLAY_TEXT MSG="Z-Tilt Adjust"                  # Display info on display
  STATUS_LEVELING                                       # Set LEDs to leveling-mode
  Z_TILT_ADJUST                                         # Level the printer via Z_TILT_ADJUST
  M400
  G28 Z                                                 # Home Z again after Z_TILT_ADJUST

  ##  Uncomment for V2.4 (Quad gantry level AKA QGL)
  #SET_DISPLAY_TEXT MSG="Leveling"                      # Display info on display
  #STATUS_LEVELING                                      # Set LEDs to leveling-mode
  #QUAD_GANTRY_LEVEL                                    # Level the printer via QGL
  #G28 Z                                                # Home Z again after QGL

  ##  Uncomment for bed mesh (2 of 2 for bed mesh)
  SET_DISPLAY_TEXT MSG="Adaptive Bed Mesh"              # Display info on display
  STATUS_MESHING                                        # Set LEDs to bed mesh-mode
  BED_MESH_CALIBRATE ADAPTIVE=1                         # Start the bed mesh (add ADAPTIVE=1) for adaptive bed mesh
  
  #### Tool Check for Cartographer Touch
  #{% if printer.toolhead.active_tool != "tool0" %}
  #  RESPOND MSG="Tool change required for Cartographer Touch. Switching to T0."
  T0  ; Select tool T0
  #{% endif %}
  CARTOGRAPHER_TOUCH_HOME
  

  # Heat up the hotend up to target via data from slicer
  SET_DISPLAY_TEXT MSG="Hotend: {target_extruder}c"     # Display info on display
  STATUS_HEATING                                        # Set LEDs to heating-mode
  G1 X{x_wait} Y{y_wait} Z15 F9000                      # Go to center of the bed
  M107                                                  # Turn off partcooling fan
  {% if t1_used == "TRUE" %}
    M104 S{t1_start} T1
    {% if t0_used == "TRUE" %}
      M109 S{t0_start} T0
    {% else %}
      M104 S0 T0
      M109 S{t1_start} T1
    {% endif %}
  {% else %}
    M104 S0 T1
    M109 S{t0_start} T0
  {% endif %}                               

  # Get ready to print by doing a primeline and updating the LEDs
  SET_DISPLAY_TEXT MSG="Priming"                        # Display info on display
  STATUS_HEATING                                        # Set LEDs to heating-mode, I like this to differeniate priming
  {% if t1_used == "TRUE" and params.INITIAL_TOOL|int == 0 %}
    # Switch to T1 and prime
    RESPOND MSG="Priming T1 and T0"
    T1
    PRIME_ACTIVE_TOOL T=1
    T0
    PRIME_ACTIVE_TOOL T=0
  # If T1 is used and T1 is the starting tool
  {% elif t1_used =="TRUE" and params.INITIAL_TOOL|int == 1 %}
    # If T0 is used, prime it first
    {% if t0_used == "TRUE" %}
      RESPOND MSG="Priming T0 and T1"
      T0
      PRIME_ACTIVE_TOOL T=0
      T1
      PRIME_ACTIVE_TOOL T=1
    {% else %}
      # T0 is not used, prime T1 only
      RESPOND MSG="Priming T1"
      T1
      PRIME_ACTIVE_TOOL T=1
    {% endif %}
  {% else %}
    # T1 is NOT used in the print, prime T0 only
    RESPOND MSG="Priming T0"
    T0
    PRIME_ACTIVE_TOOL T=0
  {% endif %}
    SET_DISPLAY_TEXT MSG="Printing"
    STATUS_PRINTING